In [31]:
stub='aus'

In [32]:
#laps_fn='/Users/ajh59/Dropbox/F1data/2017/eventTiming/AUS/P1 - Lap Times'
laps_fn='/Users/ajh59/Downloads/2018_01_aus_f1_q0_timing_qualifyingsessionlaptimes_v01'#'lap_analysis_5'
laps_fn='/Users/ajh59/Downloads/2018_01_aus_f1_p3_timing_thirdpracticesessionlaptimes_v01'
laps_fn='/Users/ajh59/Downloads/2018_01_aus_f1_p2_timing_secondpracticesessionlaptimes_v01_1'
laps_fn='/Users/ajh59/Downloads/2018_01_aus_f1_p1_timing_firstpracticesessionlaptimes_v01'


laps_out_fn='{}18_qualilaptimes.csv'.format(stub)
laps_out_fn='{}18_p1laptimes.csv'.format(stub)
#laps_out_fn='{}17_P1laptimes.csv'.format(stub)

In [33]:
import lxml.etree
import pandas as pd
import os

def xmlify(fn):
    cmd = 'pdftohtml -xml -nodrm -zoom 1.5 -enc UTF-8 -noframes %s "%s" "%s"' % (
        '',fn+'.pdf', os.path.splitext(fn+'.xml')[0])
    # can't turn off output, so throw away even stderr yeuch
    cmd + " >/dev/null 2>&1"
    os.system(cmd)

def loader(fn):
    fnx=fn+'.xml'
    xmldata = open(fn+'.xml','r').read()
    root = lxml.etree.fromstring(xmldata)
    pages = list(root)
    return pages, root

def loader2018(fn):
    fnx=fn+'.xml'
    #xmldata = open(fn+'.xml','r').read()
    xmldata = open(fn+'.xml','rb').read()
    root = lxml.etree.fromstring(xmldata)
    pages = list(root)
    return pages, root

In [34]:
loader = loader2018

In [35]:
xmlify(laps_fn)

In [36]:
def patcher(laps_fn):
    !sed -i.'' -E 's/(<text .*>)([0-9]+) <b>(.*)<\/b><\/text>/\1\2<\/text>\1<b>\3<\/b><\/text>/g' "{laps_fn}.xml"

In [37]:
patcher(laps_fn)

In [38]:
pages,root=loader(laps_fn)

In [39]:
def flatten(el):           
    result = [ (el.text or "") ]
    for sel in el:
        result.append(flatten(sel))
        result.append(sel.tail or "")
    return "".join(result)

def laptimes_table(pages):
    rows=[]

    data=[]

    for page in pages:
        scraping=False
        prevrow=0
        newpair=False
        for el in page:
            txt=flatten(el).strip()
            tmp={'text':txt}
            if 'left' in el.attrib and el.attrib['left'] is not None:
                for attr in el.attrib:
                    tmp[attr]=el.attrib[attr]
                #print txt, el.attrib
                rows.append(tmp)

                prevrow=int(el.attrib['top'])
                if scraping:
                    if not newpair:
                        newpair=txt
                    else:
                        data.append( (newpair,txt) )
                        newpair=False

                if not scraping and (txt.startswith('2017 FORMULA 1') or txt.startswith('FORMULA 1')):
                    scraping=True

    return data,pd.DataFrame.from_records(rows)

In [40]:
def varasint(cand, retval=''):
    ''' Function to determine if we can cast something as an int.
        If we can, do so and return it, otherwise return retval, or, if retval=='asis', the original value. '''
    retval = int(cand) if (int(cand) if isinstance(cand, str) and cand.isdigit() else False) or isinstance(cand, int) else retval
    if retval=='asis':
        return cand
    elif retval=='boolean':
        return isinstance(retval, int)
    return retval

def laptimes_table2018(pages):
    rows=[]

    data=[]

    for page in pages:
        scraping=True
        prevrow=0
        newpair=False
        for el in page:
            txt=flatten(el).strip()
            tmp={'text':txt}
            if 'left' in el.attrib and el.attrib['left'] is not None:
                for attr in el.attrib:
                    tmp[attr]=el.attrib[attr]
                #print txt, el.attrib
                rows.append(tmp)

                prevrow=int(el.attrib['top'])
                if scraping:
                    if not newpair:
                        newpair=txt
                    else:
                        data.append( (newpair,txt) )
                        newpair=False

                if not scraping and (txt.startswith('2018 FORMULA 1') or txt.startswith('FORMULA 1')):
                    scraping=True

        #last two rows:
        #- name of GP eg FORMULA 1 2018 ROLEX AUSTRALIAN GRAND PRIX - Melbourne
        #- Sheet (eg Qualifying Session Lap Times)
    data = [d for d in data if d[0].startswith('NO') or varasint( d[0].split(' ')[0], 'boolean')]
    return data,pd.DataFrame.from_records(rows)

In [41]:
laptimes_table = laptimes_table2018

In [42]:
data,df=laptimes_table2018(pages)

In [43]:
data,df=laptimes_table(pages)
df[:15]

,font,height,left,src,text,top,width
0,NaN,128,36,/Users/ajh59/Downloads/2018_01_aus_f1_p1_timin...,,33,285
1,NaN,86,693,/Users/ajh59/Downloads/2018_01_aus_f1_p1_timin...,,61,150
2,0,17,35,NaN,2,269,7
3,1,17,71,NaN,Stoffel VANDOORNE,269,106
4,1,17,50,NaN,NO,298,16
5,1,17,113,NaN,TIME,298,27
6,1,17,56,NaN,1 P,316,20
7,0,17,101,NaN,12:00:57,316,46
8,1,17,56,NaN,2 P,334,20
9,0,17,94,NaN,36:09.001,334,52
10,1,17,56,NaN,3 P,352,20
11,0,17,94,NaN,19:55.375,352,52
12,1,17,56,NaN,4,371,15
13,0,17,101,NaN,1:44.092,371,46
14,1,17,56,NaN,5,389,15

In [44]:
#data

In [45]:
def _grab_laptimes(data):
    name=''
    lap=''
    times=[]
    inlaps=False
    tmp={}
    earliest=None
    for pair in data:
        print(pair)
        if pair==('NO','NO') or pair==('LAP','LAP'):
            if 'laps' in tmp: tmp['laps'].pop()
            number,name=prevpair
            if tmp!={}: times.append(tmp)
            tmp={'name':name,'number':number, 'laps':[]}
        elif pair==('TIME','TIME'):
            inlaps=True
        elif inlaps:
            if earliest is None:
                earliest=(tmp['name'],pair[1])
            elif len(tmp['laps'])==0:
                if earliest[1]>pair[1]:
                    earliest=(tmp['name'],pair[1])
            tmp['laps'].append(pair)

        prevpair=pair
    #Catch tailender
    if tmp!={}: times.append(tmp)
    return earliest,times

def _grab_laptimes2018(data):
    name=''
    lap=''
    times=[]
    inlaps=False
    tmp={}
    earliest=None
    named = False
    for pair in data:
        print(pair)
        if pair==('NO','TIME') and not named:
            if 'laps' in tmp and tmp['laps']: tmp['laps'].pop()
            number,name=prevpair
            if tmp!={}: times.append(tmp)
            tmp={'name':name,'number':number, 'laps':[]}
            named = True
            inlaps=True
        elif pair==('NO','TIME'):
            inlaps=True
            named = False
        elif inlaps:
            if earliest is None:
                earliest=(tmp['name'],pair[1])
            elif len(tmp['laps'])==0:
                if earliest[1]>pair[1]:
                    earliest=(tmp['name'],pair[1])
            tmp['laps'].append(pair)

        prevpair=pair
    #Catch tailender
    if tmp!={}: times.append(tmp)
    return earliest,times

In [46]:
_grab_laptimes = _grab_laptimes2018

In [47]:
earliest,laptimes=_grab_laptimes(data)
earliest

('2', 'Stoffel VANDOORNE')
('NO', 'TIME')
('1 P', '12:00:57')
('2 P', '36:09.001')
('3 P', '19:55.375')
('4', '1:44.092')
('5', '1:29.558')
('6 P', '17:14.718')
('7', '2:00.978')
('8', '1:27.797')
('NO', 'TIME')
('9', '1:35.900')
('10', '1:26.541')
('11', '1:36.092')
('12', '1:38.273')
('13', '1:26.482')
('14', '1:28.045')
('15', '2:28.469')
('3', 'Daniel RICCIARDO')
('NO', 'TIME')
('1 P', '12:01:30')
('2 P', '18:34.696')
('3', '1:43.443')
('4', '1:27.608')
('5', '1:48.849')
('6', '1:26.299')
('7', '1:49.175')
('8', '1:25.462')
('9', '1:51.096')
('10', '1:25.063')
('11 P', '24:30.413')
('12', '1:45.258')
('13', '1:25.130')
('NO', 'TIME')
('14', '1:52.826')
('15 P', '1:52.838')
('16', '1:51.489')
('17', '1:25.565')
('18', '1:55.108')
('19 P', '12:30.018')
('20', '1:58.271')
('21', '1:29.347')
('22', '1:29.496')
('23', '1:29.061')
('24', '1:29.042')
('25', '2:05.780')
('5', 'Sebastian VETTEL')
('NO', 'TIME')
('1 P', '12:00:09')
('2 P', '20:18.710')
('3', '1:44.808')
('4', '1:30.108')
('5', '1:27.657')
('6', '1:32.251')
('7', '1:26.785')
('8', '1:32.451')
('9', '1:25.911')
('10 P', '1:50.804')
('11 P', '29:56.874')
('NO', 'TIME')
('12', '1:44.958')
('13', '1:31.504')
('14', '1:36.000')
('15', '1:31.754')
('16', '1:25.340')
('17', '1:39.747')
('18', '1:24.995')
('19 P', '13:39.660')
('20', '1:40.004')
('21', '1:29.014')
('22', '2:32.900')
('7', 'Kimi RAIKKONEN')
('NO', 'TIME')
('1 P', '12:01:13')
('2 P', '20:14.417')
('3', '1:45.081')
('4', '1:26.989')
('5', '1:33.167')
('6', '1:32.296')
('7', '1:35.605')
('8', '1:25.842')
('9 P', '1:47.889')
('10 P', '27:16.429')
('11', '1:42.187')
('12', '1:25.488')
('NO', 'TIME')
('13', '1:45.409')
('14', '1:25.734')
('15', '1:42.661')
('16', '1:35.615')
('17', '1:36.818')
('18', '1:24.875')
('19 P', '13:43.934')
('20', '1:39.732')
('21', '1:29.193')
('22', '1:28.680')
('23', '2:39.778')
('8', 'Romain GROSJEAN')
('NO', 'TIME')
('1 P', '12:00:13')
('2 P', '25:45.655')
('3', '1:53.516')
('4', '1:32.274')
('5', '1:28.030')
('6', '1:38.689')
('7', '1:27.867')
('8', '1:27.799')
('9', '1:29.749')
('10 P', '23:55.846')
('11', '1:55.694')
('12', '1:26.458')
('NO', 'TIME')
('13', '1:40.471')
('14', '1:29.434')
('15', '1:25.730')
('16', '1:42.869')
('17', '1:25.811')
('18 P', '11:10.461')
('19', '1:51.401')
('20', '1:30.180')
('21', '1:29.998')
('22', '1:29.848')
('23', '1:32.526')
('24', '2:44.896')
('9', 'Marcus ERICSSON')
('NO', 'TIME')
('1 P', '12:00:20')
('2 P', '2:24.023')
('3 P', '22:49.598')
('4', '2:08.766')
('5', '1:32.015')
('6', '1:36.016')
('7', '1:36.492')
('8', '1:29.097')
('9', '1:29.118')
('10', '1:29.346')
('11 P', '15:42.295')
('12', '1:55.025')
('13', '1:28.437')
('14', '1:54.288')
('NO', 'TIME')
('15', '1:28.332')
('16', '1:28.297')
('17', '1:28.050')
('18', '1:52.785')
('19', '1:27.964')
('20 P', '14:49.079')
('21', '1:56.717')
('22', '1:28.518')
('23', '1:28.900')
('24', '1:29.123')
('25', '1:29.632')
('26', '1:28.979')
('27', '1:28.913')
('28', '2:31.141')
('10', 'Pierre GASLY')
('NO', 'TIME')
('1 P', '12:01:43')
('2', '2:02.753')
('3 P', '21:30.987')
('4', '2:05.024')
('5', '1:29.187')
('6', '1:28.247')
('7', '1:47.398')
('8', '1:28.063')
('9 P', '1:56.606')
('10 P', '20:33.160')
('11', '2:01.174')
('12', '1:27.340')
('13', '1:49.584')
('NO', 'TIME')
('14', '1:26.494')
('15', '1:44.407')
('16', '1:28.421')
('17 P', '12:57.669')
('18', '1:55.655')
('19', '1:31.814')
('20', '1:30.688')
('21', '1:31.239')
('22', '1:30.868')
('23', '1:32.046')
('24', '1:31.201')
('25', '2:12.577')
('11', 'Sergio PEREZ')
('NO', 'TIME')
('1 P', '12:02:35')
('2', '1:51.346')
('3 P', '20:04.542')
('4', '1:46.307')
('5', '1:28.997')
('6', '1:42.439')
('7', '1:27.245')
('8', '1:45.604')
('9', '1:39.252')
('10', '1:26.841')
('11', '1:29.082')
('12 P', '23:50.880')
('13', '1:46.582')
('NO', 'TIME')
('14', '1:27.600')
('15', '1:44.911')
('16', '1:27.499')
('17', '1:40.877')
('18', '1:26.767')
('19 P', '10:36.123')
('20', '1:42.021')
('21', '1:30.028')
('22', '1:30.330')
('23', '1:30.372')
('24', '1:30.169')
('25', '1:30.171')
('26', '2:35.813')
('14', 'Fernando ALONSO')
('NO', 'TIME')
('1 P', '12:00:30')
('2 P', '26:15.384')
('3 P', '40:33.002')
('4', '1:42.545')
('5', '1:26.638')
('6', '1:28.034')
('7', '1:36.359')
('8', '1:26.285')
('NO', 'TIME')
('9', '1:40.535')
('10', '1:25.896')
('11 P', '6:28.856')
('12', '1:55.334')
('13', '1:27.618')
('14', '1:31.690')
('15', '1:27.055')
('16', '2:34.485')
('16', 'Charles LECLERC')
('NO', 'TIME')
('1 P', '12:01:19')
('2 P', '2:20.255')
('3 P', '22:13.911')
('4', '2:07.977')
('5', '1:35.396')
('6', '1:33.576')
('7', '1:33.668')
('8', '1:31.340')
('9', '1:31.113')
('10', '1:32.363')
('11 P', '15:44.227')
('12', '2:00.246')
('13', '1:29.202')
('14', '1:39.955')
('NO', 'TIME')
('15', '1:29.195')
('16', '1:29.226')
('17', '1:29.313')
('18', '1:33.316')
('19', '1:29.536')
('20', '1:30.498')
('21 P', '14:37.400')
('22', '1:55.879')
('23', '1:29.197')
('24', '1:28.853')
('25', '1:31.539')
('26', '1:39.774')
('27', '1:29.062')
('28', '2:21.151')
('18', 'Lance STROLL')
('NO', 'TIME')
('1 P', '12:03:01')
('2 P', '16:22.073')
('3', '1:45.266')
('4', '1:29.403')
('5', '1:28.246')
('6', '1:27.726')
('7', '1:42.985')
('8', '1:41.734')
('9', '1:26.882')
('10', '1:49.712')
('11 P', '1:55.632')
('12 P', '20:06.910')
('13', '1:41.531')
('14', '1:26.636')
('15', '1:39.785')
('NO', 'TIME')
('16', '1:26.654')
('17', '1:53.561')
('18', '1:34.125')
('19', '1:49.593')
('20', '1:44.588')
('21', '1:37.493')
('22 P', '8:01.844')
('23', '1:43.539')
('24', '1:27.249')
('25', '1:28.474')
('26', '1:28.402')
('27', '1:28.774')
('28', '1:28.151')
('29', '1:28.278')
('30', '1:28.889')
('20', 'Kevin MAGNUSSEN')
('NO', 'TIME')
('1 P', '12:01:36')
('2 P', '30:45.015')
('3', '2:05.989')
('4', '1:29.345')
('5', '1:27.988')
('6 P', '19:23.528')
('7', '2:09.330')
('NO', 'TIME')
('8 P', '9:28.412')
('9', '1:41.210')
('10', '1:27.035')
('11', '1:30.847')
('12', '1:31.275')
('13', '1:27.987')
('27', 'Nico HULKENBERG')
('NO', 'TIME')
('1 P', '12:01:17')
('2 P', '7:28.044')
('3 P', '17:30.888')
('4', '1:58.806')
('5', '1:28.761')
('6', '1:46.576')
('7', '1:27.653')
('8', '1:41.004')
('9', '1:27.505')
('10 P', '22:04.824')
('11', '2:00.902')
('12', '1:27.005')
('13', '1:42.446')
('NO', 'TIME')
('14', '1:26.694')
('15', '1:52.160')
('16', '1:26.583')
('17 P', '11:28.756')
('18', '2:06.213')
('19', '1:26.709')
('20', '1:49.732')
('21', '1:27.292')
('22', '1:49.364')
('23', '1:26.586')
('24', '1:34.267')
('25', '2:18.531')
('28', 'Brendon HARTLEY')
('NO', 'TIME')
('1 P', '12:01:33')
('2 P', '23:25.190')
('3', '1:54.508')
('4', '1:33.280')
('5', '1:30.460')
('6', '1:28.308')
('7', '1:31.202')
('8 P', '2:00.027')
('NO', 'TIME')
('9 P', '20:32.360')
('10 P', '27:53.677')
('11', '1:51.512')
('12', '1:27.809')
('13', '1:47.178')
('14', '1:27.745')
('15', '1:35.452')
('16', '2:18.188')
('31', 'Esteban OCON')
('NO', 'TIME')
('1 P', '12:01:57')
('2', '1:55.832')
('3 P', '21:53.647')
('4', '1:49.789')
('5', '1:28.336')
('6', '1:39.436')
('7', '1:27.229')
('8', '1:56.682')
('9', '1:26.694')
('10', '1:27.003')
('11 P', '18:33.832')
('12', '1:39.156')
('13', '1:37.932')
('14', '1:26.674')
('15', '1:59.163')
('NO', 'TIME')
('16', '1:27.403')
('17', '1:51.677')
('18', '1:26.839')
('19', '1:43.202')
('20', '1:26.605')
('21 P', '8:10.659')
('22', '1:40.596')
('23', '1:30.488')
('24', '1:30.613')
('25', '1:30.178')
('26', '1:31.675')
('27', '1:30.875')
('28', '1:33.870')
('29', '1:30.633')
('30', '2:30.690')
('33', 'Max VERSTAPPEN')
('NO', 'TIME')
('1 P', '12:02:32')
('2 P', '21:15.592')
('3', '1:41.076')
('4', '1:26.007')
('5', '1:42.221')
('6', '1:24.959')
('7', '1:45.378')
('8', '1:24.936')
('9', '1:52.161')
('10', '1:24.948')
('11 P', '19:29.149')
('12', '1:46.101')
('13', '1:24.771')
('NO', 'TIME')
('14', '1:52.327')
('15', '1:41.988')
('16', '1:24.784')
('17', '1:52.448')
('18', '1:25.073')
('19 P', '12:15.052')
('20', '2:24.317')
('21', '1:29.013')
('22', '1:29.223')
('23', '1:29.320')
('24', '1:29.374')
('25', '1:36.383')
('26', '1:28.833')
('35', 'Sergey SIROTKIN')
('NO', 'TIME')
('1 P', '12:02:22')
('2 P', '15:32.768')
('3', '1:48.251')
('4', '1:32.057')
('5', '1:29.342')
('6', '1:28.275')
('7', '1:28.125')
('8', '1:28.615')
('9', '1:52.646')
('10', '1:27.820')
('11', '1:47.558')
('12', '1:27.501')
('13 P', '21:17.057')
('NO', 'TIME')
('14', '1:52.340')
('15', '1:27.319')
('16', '2:04.188')
('17', '1:27.035')
('18', '2:00.354')
('19', '1:26.536')
('20 P', '19:18.937')
('21', '1:46.319')
('22', '1:30.971')
('23', '1:33.650')
('24', '1:30.755')
('25', '2:41.790')
('44', 'Lewis HAMILTON')
('NO', 'TIME')
('1 P', '12:05:59')
('2 P', '17:52.891')
('3', '2:01.041')
('4', '1:36.522')
('5', '1:25.694')
('6', '1:56.323')
('7', '1:46.961')
('8', '1:24.914')
('9', '2:00.675')
('10', '1:24.531')
('11 P', '19:06.515')
('12', '2:03.805')
('13', '1:24.147')
('14', '2:10.581')
('NO', 'TIME')
('15', '1:24.192')
('16', '2:07.646')
('17', '1:58.619')
('18', '1:24.026')
('19 P', '10:17.946')
('20', '1:58.731')
('21', '1:28.608')
('22', '1:28.934')
('23', '1:28.650')
('24', '1:31.997')
('25', '1:28.804')
('26', '1:29.073')
('27', '2:39.736')
('55', 'Carlos SAINZ')
('NO', 'TIME')
('1 P', '12:02:06')
('2 P', '2:33.406')
('3 P', '16:37.646')
('4', '2:05.478')
('5', '1:28.426')
('6', '1:27.823')
('7', '1:48.297')
('8', '1:27.094')
('9', '1:47.607')
('10', '1:26.800')
('11 P', '22:02.110')
('12', '1:57.017')
('NO', 'TIME')
('13', '1:26.210')
('14', '2:09.174')
('15', '1:26.297')
('16', '2:13.050')
('17', '1:25.922')
('18 P', '14:37.360')
('19', '2:04.236')
('20', '1:26.805')
('21', '1:57.145')
('22', '1:26.645')
('23', '1:28.983')
('77', 'Valtteri BOTTAS')
('NO', 'TIME')
('1 P', '12:04:34')
('2 P', '17:23.701')
('3', '1:57.125')
('4', '1:26.499')
('5', '1:43.141')
('6', '1:26.044')
('7', '1:44.453')
('8 P', '20:01.785')
('9', '2:00.639')
('10', '1:24.577')
('11', '1:43.967')
('12', '1:36.803')
('13', '1:25.196')
('14', '2:02.941')
('15', '1:35.395')
('NO', 'TIME')
('16', '1:25.004')
('17', '1:55.274')
('18', '1:25.283')
('19 P', '10:30.433')
('20', '1:59.833')
('21', '1:28.831')
('22', '1:29.514')
('23', '1:29.254')
('24', '1:29.458')
('25', '1:29.549')
('26', '1:29.674')
('27', '1:29.548')
('28', '1:29.345')
('29', '2:43.078')

('Sebastian VETTEL', '12:00:09')

In [48]:
names = [ '"{}"=\'\''.format(l['name']) for l in laptimes]
print(', '.join(names))

"Stoffel VANDOORNE"='', "Daniel RICCIARDO"='', "Sebastian VETTEL"='', "Kimi RAIKKONEN"='', "Romain GROSJEAN"='', "Marcus ERICSSON"='', "Pierre GASLY"='', "Sergio PEREZ"='', "Fernando ALONSO"='', "Charles LECLERC"='', "Lance STROLL"='', "Kevin MAGNUSSEN"='', "Nico HULKENBERG"='', "Brendon HARTLEY"='', "Esteban OCON"='', "Max VERSTAPPEN"='', "Sergey SIROTKIN"='', "Lewis HAMILTON"='', "Carlos SAINZ"='', "Valtteri BOTTAS"=''

In [49]:
import datetime
#http://tgs.github.io/nptime/
from nptime import nptime

def nptimify(t):
    tt=t.split(':')
    if len(tt)==3:
        h=int(tt[0])
        m=int(tt[1])
        if len(tt[2].split('.'))==2:
            s=int(tt[2].split('.')[0])
            ms=int(tt[2].split('.')[1])
        else:
            s=int(t.split(':')[2])
            ms=0
    elif len(tt)==2:
        h=int(tt[0])
        m=int(tt[1])
        if len(tt[2].split('.'))==2:
            s=int(tt[2].split('.')[0])
            ms=int(tt[2].split('.')[1])
        else:
            s=int(t.split(':')[2])
            ms=0
    return nptime(h, m, s, ms)

def npreltimify(t,earliest="0:0:0"):
    return nptimify(t) - nptimify(earliest)

def nprebase(delta,earliest="0:0:0"):
    return delta + nptimify(earliest)

#def nprebaseElapsed()

#Preferred time format
def formatTime(t):
    return float("%.3f" % t)
# Accept times in the form of hh:mm:ss.ss or mm:ss.ss
# Return the equivalent number of seconds
def getTime(ts):
    print(ts)
    t=ts.strip()
    t=ts.split(':')
    if len(t)==3:
        tm=60*int(t[0])+60*int(t[1])+float(t[2])
    elif len(t)==2:
        tm=60*int(t[0])+float(t[1])
    else:
        tm=float(t[0])
    return formatTime(tm)

In [50]:
def _get_rebased_laptimes(times,earliest): 
    rr=[]
    for driver in times:
        for lap in driver['laps']:
            if lap[0].split(' ')[0]=='1':
                b=nprebase(npreltimify(lap[1],earliest[1])).isoformat()
            else:
                b=lap[1]
            rr.append({'name':driver['name'],
                       'number':driver['number'],
                       'lapNumber':lap[0].split(' ')[0],
                       'pit': True if lap[0].endswith('P') else False,
                       'laptime':b,
                       'stime':getTime(b)})
    return pd.DataFrame(rr)

In [51]:
#Patch for italy 2017 where there was a restart
laptimespatch=[]
for lapset in laptimes:
    tmp={'name':lapset['name'],'number':lapset['number'],'laps':[]}
    cnt=0
    started =False
    for (lapnum,laptime) in lapset['laps']:
        if laptime.startswith('16'):
            started =True 
        if started:
            cnt=cnt+1
            tmp['laps'].append( (str(cnt),laptime) )
    laptimespatch.append(tmp)

newearliest=None
for lapset in laptimes:
    if newearliest is None:
        newearliest=(lapset['name'],lapset['laps'][0][1])
    else:
        if len(lapset['laps']) and lapset['laps'][0][1]<newearliest[1]:
            newearliest=(lapset['name'],lapset['laps'][0][1])
newearliest
#earliest=newearliest

#laptimes=laptimespatch

('Sebastian VETTEL', '12:00:09')

In [52]:
lapset['laps'][0][1]

'12:04:34'

In [53]:
for l in laptimes:
    if l['laps']: print(l['laps'][0])

('1 P', '12:00:57')
('1 P', '12:01:30')
('1 P', '12:00:09')
('1 P', '12:01:13')
('1 P', '12:00:13')
('1 P', '12:00:20')
('1 P', '12:01:43')
('1 P', '12:02:35')
('1 P', '12:00:30')
('1 P', '12:01:19')
('1 P', '12:03:01')
('1 P', '12:01:36')
('1 P', '12:01:17')
('1 P', '12:01:33')
('1 P', '12:01:57')
('1 P', '12:02:32')
('1 P', '12:02:22')
('1 P', '12:05:59')
('1 P', '12:02:06')
('1 P', '12:04:34')

In [54]:
laptimes

[{'laps': [('1 P', '12:00:57'),
   ('2 P', '36:09.001'),
   ('3 P', '19:55.375'),
   ('4', '1:44.092'),
   ('5', '1:29.558'),
   ('6 P', '17:14.718'),
   ('7', '2:00.978'),
   ('8', '1:27.797'),
   ('9', '1:35.900'),
   ('10', '1:26.541'),
   ('11', '1:36.092'),
   ('12', '1:38.273'),
   ('13', '1:26.482'),
   ('14', '1:28.045'),
   ('15', '2:28.469')],
  'name': 'Stoffel VANDOORNE',
  'number': '2'},
 {'laps': [('1 P', '12:01:30'),
   ('2 P', '18:34.696'),
   ('3', '1:43.443'),
   ('4', '1:27.608'),
   ('5', '1:48.849'),
   ('6', '1:26.299'),
   ('7', '1:49.175'),
   ('8', '1:25.462'),
   ('9', '1:51.096'),
   ('10', '1:25.063'),
   ('11 P', '24:30.413'),
   ('12', '1:45.258'),
   ('13', '1:25.130'),
   ('14', '1:52.826'),
   ('15 P', '1:52.838'),
   ('16', '1:51.489'),
   ('17', '1:25.565'),
   ('18', '1:55.108'),
   ('19 P', '12:30.018'),
   ('20', '1:58.271'),
   ('21', '1:29.347'),
   ('22', '1:29.496'),
   ('23', '1:29.061'),
   ('24', '1:29.042'),
   ('25', '2:05.780')],
  'name': 'Daniel RICCIARDO',
  'number': '3'},
 {'laps': [('1 P', '12:00:09'),
   ('2 P', '20:18.710'),
   ('3', '1:44.808'),
   ('4', '1:30.108'),
   ('5', '1:27.657'),
   ('6', '1:32.251'),
   ('7', '1:26.785'),
   ('8', '1:32.451'),
   ('9', '1:25.911'),
   ('10 P', '1:50.804'),
   ('11 P', '29:56.874'),
   ('12', '1:44.958'),
   ('13', '1:31.504'),
   ('14', '1:36.000'),
   ('15', '1:31.754'),
   ('16', '1:25.340'),
   ('17', '1:39.747'),
   ('18', '1:24.995'),
   ('19 P', '13:39.660'),
   ('20', '1:40.004'),
   ('21', '1:29.014'),
   ('22', '2:32.900')],
  'name': 'Sebastian VETTEL',
  'number': '5'},
 {'laps': [('1 P', '12:01:13'),
   ('2 P', '20:14.417'),
   ('3', '1:45.081'),
   ('4', '1:26.989'),
   ('5', '1:33.167'),
   ('6', '1:32.296'),
   ('7', '1:35.605'),
   ('8', '1:25.842'),
   ('9 P', '1:47.889'),
   ('10 P', '27:16.429'),
   ('11', '1:42.187'),
   ('12', '1:25.488'),
   ('13', '1:45.409'),
   ('14', '1:25.734'),
   ('15', '1:42.661'),
   ('16', '1:35.615'),
   ('17', '1:36.818'),
   ('18', '1:24.875'),
   ('19 P', '13:43.934'),
   ('20', '1:39.732'),
   ('21', '1:29.193'),
   ('22', '1:28.680'),
   ('23', '2:39.778')],
  'name': 'Kimi RAIKKONEN',
  'number': '7'},
 {'laps': [('1 P', '12:00:13'),
   ('2 P', '25:45.655'),
   ('3', '1:53.516'),
   ('4', '1:32.274'),
   ('5', '1:28.030'),
   ('6', '1:38.689'),
   ('7', '1:27.867'),
   ('8', '1:27.799'),
   ('9', '1:29.749'),
   ('10 P', '23:55.846'),
   ('11', '1:55.694'),
   ('12', '1:26.458'),
   ('13', '1:40.471'),
   ('14', '1:29.434'),
   ('15', '1:25.730'),
   ('16', '1:42.869'),
   ('17', '1:25.811'),
   ('18 P', '11:10.461'),
   ('19', '1:51.401'),
   ('20', '1:30.180'),
   ('21', '1:29.998'),
   ('22', '1:29.848'),
   ('23', '1:32.526'),
   ('24', '2:44.896')],
  'name': 'Romain GROSJEAN',
  'number': '8'},
 {'laps': [('1 P', '12:00:20'),
   ('2 P', '2:24.023'),
   ('3 P', '22:49.598'),
   ('4', '2:08.766'),
   ('5', '1:32.015'),
   ('6', '1:36.016'),
   ('7', '1:36.492'),
   ('8', '1:29.097'),
   ('9', '1:29.118'),
   ('10', '1:29.346'),
   ('11 P', '15:42.295'),
   ('12', '1:55.025'),
   ('13', '1:28.437'),
   ('14', '1:54.288'),
   ('15', '1:28.332'),
   ('16', '1:28.297'),
   ('17', '1:28.050'),
   ('18', '1:52.785'),
   ('19', '1:27.964'),
   ('20 P', '14:49.079'),
   ('21', '1:56.717'),
   ('22', '1:28.518'),
   ('23', '1:28.900'),
   ('24', '1:29.123'),
   ('25', '1:29.632'),
   ('26', '1:28.979'),
   ('27', '1:28.913'),
   ('28', '2:31.141')],
  'name': 'Marcus ERICSSON',
  'number': '9'},
 {'laps': [('1 P', '12:01:43'),
   ('2', '2:02.753'),
   ('3 P', '21:30.987'),
   ('4', '2:05.024'),
   ('5', '1:29.187'),
   ('6', '1:28.247'),
   ('7', '1:47.398'),
   ('8', '1:28.063'),
   ('9 P', '1:56.606'),
   ('10 P', '20:33.160'),
   ('11', '2:01.174'),
   ('12', '1:27.340'),
   ('13', '1:49.584'),
   ('14', '1:26.494'),
   ('15', '1:44.407'),
   ('16', '1:28.421'),
   ('17 P', '12:57.669'),
   ('18', '1:55.655'),
   ('19', '1:31.814'),
   ('20', '1:30.688'),
   ('21', '1:31.239'),
   ('22', '1:30.868'),
   ('23', '1:32.046'),
   ('24', '1:31.201'),
   ('25', '2:12.577')],
  'name': 'Pierre GASLY',
  'number': '10'},
 {'laps': [('1 P', '12:02:35'),
   ('2', '1:51.346'),
   ('3 P', '20:04.542'),
   ('4', '1:46.307'),
   ('5', '1:28.997'),
   ('6', '1:42.439'),
   ('7', '1:27.245'),
   ('8', '1:45.604'),
   ('9', '1:39.252'),
   ('10', '1:26.841'),
   ('11', '1:29.082'),
   ('12 P', '23:50.880'),
   ('13', '1:46.582'),
   ('14', '1:27.600'),
   ('15', '1:44.911'),
   ('16', '1:27.499'),
   ('17', '1:40.877'),
   ('18', '1:26.767'),
   ('19 P', '10:36.123'),
   ('20', '1:42.021'),
   ('21', '1:30.028'),
   ('22', '1:30.330'),
   ('23', '1:30.372'),
   ('24', '1:30.169'),
   ('25', '1:30.171'),
   ('26', '2:35.813')],
  'name': 'Sergio PEREZ',
  'number': '11'},
 {'laps': [('1 P', '12:00:30'),
   ('2 P', '26:15.384'),
   ('3 P', '40:33.002'),
   ('4', '1:42.545'),
   ('5', '1:26.638'),
   ('6', '1:28.034'),
   ('7', '1:36.359'),
   ('8', '1:26.285'),
   ('9', '1:40.535'),
   ('10', '1:25.896'),
   ('11 P', '6:28.856'),
   ('12', '1:55.334'),
   ('13', '1:27.618'),
   ('14', '1:31.690'),
   ('15', '1:27.055'),
   ('16', '2:34.485')],
  'name': 'Fernando ALONSO',
  'number': '14'},
 {'laps': [('1 P', '12:01:19'),
   ('2 P', '2:20.255'),
   ('3 P', '22:13.911'),
   ('4', '2:07.977'),
   ('5', '1:35.396'),
   ('6', '1:33.576'),
   ('7', '1:33.668'),
   ('8', '1:31.340'),
   ('9', '1:31.113'),
   ('10', '1:32.363'),
   ('11 P', '15:44.227'),
   ('12', '2:00.246'),
   ('13', '1:29.202'),
   ('14', '1:39.955'),
   ('15', '1:29.195'),
   ('16', '1:29.226'),
   ('17', '1:29.313'),
   ('18', '1:33.316'),
   ('19', '1:29.536'),
   ('20', '1:30.498'),
   ('21 P', '14:37.400'),
   ('22', '1:55.879'),
   ('23', '1:29.197'),
   ('24', '1:28.853'),
   ('25', '1:31.539'),
   ('26', '1:39.774'),
   ('27', '1:29.062'),
   ('28', '2:21.151')],
  'name': 'Charles LECLERC',
  'number': '16'},
 {'laps': [('1 P', '12:03:01'),
   ('2 P', '16:22.073'),
   ('3', '1:45.266'),
   ('4', '1:29.403'),
   ('5', '1:28.246'),
   ('6', '1:27.726'),
   ('7', '1:42.985'),
   ('8', '1:41.734'),
   ('9', '1:26.882'),
   ('10', '1:49.712'),
   ('11 P', '1:55.632'),
   ('12 P', '20:06.910'),
   ('13', '1:41.531'),
   ('14', '1:26.636'),
   ('15', '1:39.785'),
   ('16', '1:26.654'),
   ('17', '1:53.561'),
   ('18', '1:34.125'),
   ('19', '1:49.593'),
   ('20', '1:44.588'),
   ('21', '1:37.493'),
   ('22 P', '8:01.844'),
   ('23', '1:43.539'),
   ('24', '1:27.249'),
   ('25', '1:28.474'),
   ('26', '1:28.402'),
   ('27', '1:28.774'),
   ('28', '1:28.151'),
   ('29', '1:28.278'),
   ('30', '1:28.889')],
  'name': 'Lance STROLL',
  'number': '18'},
 {'laps': [('1 P', '12:01:36'),
   ('2 P', '30:45.015'),
   ('3', '2:05.989'),
   ('4', '1:29.345'),
   ('5', '1:27.988'),
   ('6 P', '19:23.528'),
   ('7', '2:09.330'),
   ('8 P', '9:28.412'),
   ('9', '1:41.210'),
   ('10', '1:27.035'),
   ('11', '1:30.847'),
   ('12', '1:31.275'),
   ('13', '1:27.987')],
  'name': 'Kevin MAGNUSSEN',
  'number': '20'},
 {'laps': [('1 P', '12:01:17'),
   ('2 P', '7:28.044'),
   ('3 P', '17:30.888'),
   ('4', '1:58.806'),
   ('5', '1:28.761'),
   ('6', '1:46.576'),
   ('7', '1:27.653'),
   ('8', '1:41.004'),
   ('9', '1:27.505'),
   ('10 P', '22:04.824'),
   ('11', '2:00.902'),
   ('12', '1:27.005'),
   ('13', '1:42.446'),
   ('14', '1:26.694'),
   ('15', '1:52.160'),
   ('16', '1:26.583'),
   ('17 P', '11:28.756'),
   ('18', '2:06.213'),
   ('19', '1:26.709'),
   ('20', '1:49.732'),
   ('21', '1:27.292'),
   ('22', '1:49.364'),
   ('23', '1:26.586'),
   ('24', '1:34.267'),
   ('25', '2:18.531')],
  'name': 'Nico HULKENBERG',
  'number': '27'},
 {'laps': [('1 P', '12:01:33'),
   ('2 P', '23:25.190'),
   ('3', '1:54.508'),
   ('4', '1:33.280'),
   ('5', '1:30.460'),
   ('6', '1:28.308'),
   ('7', '1:31.202'),
   ('8 P', '2:00.027'),
   ('9 P', '20:32.360'),
   ('10 P', '27:53.677'),
   ('11', '1:51.512'),
   ('12', '1:27.809'),
   ('13', '1:47.178'),
   ('14', '1:27.745'),
   ('15', '1:35.452'),
   ('16', '2:18.188')],
  'name': 'Brendon HARTLEY',
  'number': '28'},
 {'laps': [('1 P', '12:01:57'),
   ('2', '1:55.832'),
   ('3 P', '21:53.647'),
   ('4', '1:49.789'),
   ('5', '1:28.336'),
   ('6', '1:39.436'),
   ('7', '1:27.229'),
   ('8', '1:56.682'),
   ('9', '1:26.694'),
   ('10', '1:27.003'),
   ('11 P', '18:33.832'),
   ('12', '1:39.156'),
   ('13', '1:37.932'),
   ('14', '1:26.674'),
   ('15', '1:59.163'),
   ('16', '1:27.403'),
   ('17', '1:51.677'),
   ('18', '1:26.839'),
   ('19', '1:43.202'),
   ('20', '1:26.605'),
   ('21 P', '8:10.659'),
   ('22', '1:40.596'),
   ('23', '1:30.488'),
   ('24', '1:30.613'),
   ('25', '1:30.178'),
   ('26', '1:31.675'),
   ('27', '1:30.875'),
   ('28', '1:33.870'),
   ('29', '1:30.633'),
   ('30', '2:30.690')],
  'name': 'Esteban OCON',
  'number': '31'},
 {'laps': [('1 P', '12:02:32'),
   ('2 P', '21:15.592'),
   ('3', '1:41.076'),
   ('4', '1:26.007'),
   ('5', '1:42.221'),
   ('6', '1:24.959'),
   ('7', '1:45.378'),
   ('8', '1:24.936'),
   ('9', '1:52.161'),
   ('10', '1:24.948'),
   ('11 P', '19:29.149'),
   ('12', '1:46.101'),
   ('13', '1:24.771'),
   ('14', '1:52.327'),
   ('15', '1:41.988'),
   ('16', '1:24.784'),
   ('17', '1:52.448'),
   ('18', '1:25.073'),
   ('19 P', '12:15.052'),
   ('20', '2:24.317'),
   ('21', '1:29.013'),
   ('22', '1:29.223'),
   ('23', '1:29.320'),
   ('24', '1:29.374'),
   ('25', '1:36.383'),
   ('26', '1:28.833')],
  'name': 'Max VERSTAPPEN',
  'number': '33'},
 {'laps': [('1 P', '12:02:22'),
   ('2 P', '15:32.768'),
   ('3', '1:48.251'),
   ('4', '1:32.057'),
   ('5', '1:29.342'),
   ('6', '1:28.275'),
   ('7', '1:28.125'),
   ('8', '1:28.615'),
   ('9', '1:52.646'),
   ('10', '1:27.820'),
   ('11', '1:47.558'),
   ('12', '1:27.501'),
   ('13 P', '21:17.057'),
   ('14', '1:52.340'),
   ('15', '1:27.319'),
   ('16', '2:04.188'),
   ('17', '1:27.035'),
   ('18', '2:00.354'),
   ('19', '1:26.536'),
   ('20 P', '19:18.937'),
   ('21', '1:46.319'),
   ('22', '1:30.971'),
   ('23', '1:33.650'),
   ('24', '1:30.755'),
   ('25', '2:41.790')],
  'name': 'Sergey SIROTKIN',
  'number': '35'},
 {'laps': [('1 P', '12:05:59'),
   ('2 P', '17:52.891'),
   ('3', '2:01.041'),
   ('4', '1:36.522'),
   ('5', '1:25.694'),
   ('6', '1:56.323'),
   ('7', '1:46.961'),
   ('8', '1:24.914'),
   ('9', '2:00.675'),
   ('10', '1:24.531'),
   ('11 P', '19:06.515'),
   ('12', '2:03.805'),
   ('13', '1:24.147'),
   ('14', '2:10.581'),
   ('15', '1:24.192'),
   ('16', '2:07.646'),
   ('17', '1:58.619'),
   ('18', '1:24.026'),
   ('19 P', '10:17.946'),
   ('20', '1:58.731'),
   ('21', '1:28.608'),
   ('22', '1:28.934'),
   ('23', '1:28.650'),
   ('24', '1:31.997'),
   ('25', '1:28.804'),
   ('26', '1:29.073'),
   ('27', '2:39.736')],
  'name': 'Lewis HAMILTON',
  'number': '44'},
 {'laps': [('1 P', '12:02:06'),
   ('2 P', '2:33.406'),
   ('3 P', '16:37.646'),
   ('4', '2:05.478'),
   ('5', '1:28.426'),
   ('6', '1:27.823'),
   ('7', '1:48.297'),
   ('8', '1:27.094'),
   ('9', '1:47.607'),
   ('10', '1:26.800'),
   ('11 P', '22:02.110'),
   ('12', '1:57.017'),
   ('13', '1:26.210'),
   ('14', '2:09.174'),
   ('15', '1:26.297'),
   ('16', '2:13.050'),
   ('17', '1:25.922'),
   ('18 P', '14:37.360'),
   ('19', '2:04.236'),
   ('20', '1:26.805'),
   ('21', '1:57.145'),
   ('22', '1:26.645'),
   ('23', '1:28.983')],
  'name': 'Carlos SAINZ',
  'number': '55'},
 {'laps': [('1 P', '12:04:34'),
   ('2 P', '17:23.701'),
   ('3', '1:57.125'),
   ('4', '1:26.499'),
   ('5', '1:43.141'),
   ('6', '1:26.044'),
   ('7', '1:44.453'),
   ('8 P', '20:01.785'),
   ('9', '2:00.639'),
   ('10', '1:24.577'),
   ('11', '1:43.967'),
   ('12', '1:36.803'),
   ('13', '1:25.196'),
   ('14', '2:02.941'),
   ('15', '1:35.395'),
   ('16', '1:25.004'),
   ('17', '1:55.274'),
   ('18', '1:25.283'),
   ('19 P', '10:30.433'),
   ('20', '1:59.833'),
   ('21', '1:28.831'),
   ('22', '1:29.514'),
   ('23', '1:29.254'),
   ('24', '1:29.458'),
   ('25', '1:29.549'),
   ('26', '1:29.674'),
   ('27', '1:29.548'),
   ('28', '1:29.345'),
   ('29', '2:43.078')],
  'name': 'Valtteri BOTTAS',
  'number': '77'}]

In [55]:
ddx=_get_rebased_laptimes(laptimes,earliest)
ddx[-5:]

00:00:48
36:09.001
19:55.375
1:44.092
1:29.558
17:14.718
2:00.978
1:27.797
1:35.900
1:26.541
1:36.092
1:38.273
1:26.482
1:28.045
2:28.469
00:01:21
18:34.696
1:43.443
1:27.608
1:48.849
1:26.299
1:49.175
1:25.462
1:51.096
1:25.063
24:30.413
1:45.258
1:25.130
1:52.826
1:52.838
1:51.489
1:25.565
1:55.108
12:30.018
1:58.271
1:29.347
1:29.496
1:29.061
1:29.042
2:05.780
00:00:00
20:18.710
1:44.808
1:30.108
1:27.657
1:32.251
1:26.785
1:32.451
1:25.911
1:50.804
29:56.874
1:44.958
1:31.504
1:36.000
1:31.754
1:25.340
1:39.747
1:24.995
13:39.660
1:40.004
1:29.014
2:32.900
00:01:04
20:14.417
1:45.081
1:26.989
1:33.167
1:32.296
1:35.605
1:25.842
1:47.889
27:16.429
1:42.187
1:25.488
1:45.409
1:25.734
1:42.661
1:35.615
1:36.818
1:24.875
13:43.934
1:39.732
1:29.193
1:28.680
2:39.778
00:00:04
25:45.655
1:53.516
1:32.274
1:28.030
1:38.689
1:27.867
1:27.799
1:29.749
23:55.846
1:55.694
1:26.458
1:40.471
1:29.434
1:25.730
1:42.869
1:25.811
11:10.461
1:51.401
1:30.180
1:29.998
1:29.848
1:32.526
2:44.896
00:00:11
2:24.023
22:49.598
2:08.766
1:32.015
1:36.016
1:36.492
1:29.097
1:29.118
1:29.346
15:42.295
1:55.025
1:28.437
1:54.288
1:28.332
1:28.297
1:28.050
1:52.785
1:27.964
14:49.079
1:56.717
1:28.518
1:28.900
1:29.123
1:29.632
1:28.979
1:28.913
2:31.141
00:01:34
2:02.753
21:30.987
2:05.024
1:29.187
1:28.247
1:47.398
1:28.063
1:56.606
20:33.160
2:01.174
1:27.340
1:49.584
1:26.494
1:44.407
1:28.421
12:57.669
1:55.655
1:31.814
1:30.688
1:31.239
1:30.868
1:32.046
1:31.201
2:12.577
00:02:26
1:51.346
20:04.542
1:46.307
1:28.997
1:42.439
1:27.245
1:45.604
1:39.252
1:26.841
1:29.082
23:50.880
1:46.582
1:27.600
1:44.911
1:27.499
1:40.877
1:26.767
10:36.123
1:42.021
1:30.028
1:30.330
1:30.372
1:30.169
1:30.171
2:35.813
00:00:21
26:15.384
40:33.002
1:42.545
1:26.638
1:28.034
1:36.359
1:26.285
1:40.535
1:25.896
6:28.856
1:55.334
1:27.618
1:31.690
1:27.055
2:34.485
00:01:10
2:20.255
22:13.911
2:07.977
1:35.396
1:33.576
1:33.668
1:31.340
1:31.113
1:32.363
15:44.227
2:00.246
1:29.202
1:39.955
1:29.195
1:29.226
1:29.313
1:33.316
1:29.536
1:30.498
14:37.400
1:55.879
1:29.197
1:28.853
1:31.539
1:39.774
1:29.062
2:21.151
00:02:52
16:22.073
1:45.266
1:29.403
1:28.246
1:27.726
1:42.985
1:41.734
1:26.882
1:49.712
1:55.632
20:06.910
1:41.531
1:26.636
1:39.785
1:26.654
1:53.561
1:34.125
1:49.593
1:44.588
1:37.493
8:01.844
1:43.539
1:27.249
1:28.474
1:28.402
1:28.774
1:28.151
1:28.278
1:28.889
00:01:27
30:45.015
2:05.989
1:29.345
1:27.988
19:23.528
2:09.330
9:28.412
1:41.210
1:27.035
1:30.847
1:31.275
1:27.987
00:01:08
7:28.044
17:30.888
1:58.806
1:28.761
1:46.576
1:27.653
1:41.004
1:27.505
22:04.824
2:00.902
1:27.005
1:42.446
1:26.694
1:52.160
1:26.583
11:28.756
2:06.213
1:26.709
1:49.732
1:27.292
1:49.364
1:26.586
1:34.267
2:18.531
00:01:24
23:25.190
1:54.508
1:33.280
1:30.460
1:28.308
1:31.202
2:00.027
20:32.360
27:53.677
1:51.512
1:27.809
1:47.178
1:27.745
1:35.452
2:18.188
00:01:48
1:55.832
21:53.647
1:49.789
1:28.336
1:39.436
1:27.229
1:56.682
1:26.694
1:27.003
18:33.832
1:39.156
1:37.932
1:26.674
1:59.163
1:27.403
1:51.677
1:26.839
1:43.202
1:26.605
8:10.659
1:40.596
1:30.488
1:30.613
1:30.178
1:31.675
1:30.875
1:33.870
1:30.633
2:30.690
00:02:23
21:15.592
1:41.076
1:26.007
1:42.221
1:24.959
1:45.378
1:24.936
1:52.161
1:24.948
19:29.149
1:46.101
1:24.771
1:52.327
1:41.988
1:24.784
1:52.448
1:25.073
12:15.052
2:24.317
1:29.013
1:29.223
1:29.320
1:29.374
1:36.383
1:28.833
00:02:13
15:32.768
1:48.251
1:32.057
1:29.342
1:28.275
1:28.125
1:28.615
1:52.646
1:27.820
1:47.558
1:27.501
21:17.057
1:52.340
1:27.319
2:04.188
1:27.035
2:00.354
1:26.536
19:18.937
1:46.319
1:30.971
1:33.650
1:30.755
2:41.790
00:05:50
17:52.891
2:01.041
1:36.522
1:25.694
1:56.323
1:46.961
1:24.914
2:00.675
1:24.531
19:06.515
2:03.805
1:24.147
2:10.581
1:24.192
2:07.646
1:58.619
1:24.026
10:17.946
1:58.731
1:28.608
1:28.934
1:28.650
1:31.997
1:28.804
1:29.073
2:39.736
00:01:57
2:33.406
16:37.646
2:05.478
1:28.426
1:27.823
1:48.297
1:27.094
1:47.607
1:26.800
22:02.110
1:57.017
1:26.210
2:09.174
1:26.297
2:13.050
1:25.922
14:37.360
2:04.236
1:26.805
1:57.145
1:26.645
1:28.983
00:04:25
17:23.701
1:57.125
1:26.499
1:43.141
1:26.044
1:44.453
20:01.785
2:00.639
1:24.577
1:43.967
1:36.803
1:25.196
2:02.941
1:35.395
1:25.004
1:55.274
1:25.283
10:30.433
1:59.833
1:28.831
1:29.514
1:29.254
1:29.458
1:29.549
1:29.674
1:29.548
1:29.345
2:43.078

    lapNumber   laptime             name number    pit    stime
471        25  1:29.549  Valtteri BOTTAS     77  False   89.549
472        26  1:29.674  Valtteri BOTTAS     77  False   89.674
473        27  1:29.548  Valtteri BOTTAS     77  False   89.548
474        28  1:29.345  Valtteri BOTTAS     77  False   89.345
475        29  2:43.078  Valtteri BOTTAS     77  False  163.078

In [56]:
laps_out_fn

'aus18_p1laptimes.csv'

In [57]:
ddx.to_csv(laps_out_fn,index=False)

In [58]:
ddx.head()

  lapNumber    laptime               name number    pit     stime
0         1   00:00:48  Stoffel VANDOORNE      2   True    48.000
1         2  36:09.001  Stoffel VANDOORNE      2   True  2169.001
2         3  19:55.375  Stoffel VANDOORNE      2   True  1195.375
3         4   1:44.092  Stoffel VANDOORNE      2  False   104.092
4         5   1:29.558  Stoffel VANDOORNE      2  False    89.558

In [59]:
len(ddx['name'].unique())

20

In [60]:
laps_out_fn

'aus18_p1laptimes.csv'